@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Gochi+Hand&family=Nothing+You+Could+Do&display=swap');

/* Start of Grid */
@media only screen and (max-width: 600px) {
    /* CSS rules for screens with a maximum width of 600px */
    }
    
    * {
        box-sizing: border-box;
    }

    nav {
        grid-area: n;
    }
    header {
        grid-area: h;
    }
    main {
        grid-area: m;
    }
    footer {
        grid-area: f;
    }

#background {
    display: grid;
    grid-template:
    "n "
    "h "
    "m"        
    "f";
}
/* End of Grid */

/* Start of Media Query */
@media (min-width: 38em) {
    #background {
       grid-template:
     " n   n "
     " h   h "
     " m   m "
     " f   f "
     / 50% 50%;
    }
}
 @media (min-width: 65em) {
    nav ul {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       }
    #background {
        grid-template:
       " n   n   n"
       " h   h   h"
       " m   m   m"
       " f   f   f"
       / 150px 1fr 30%;
       }
}
@media (max-width: 768px) {
    .hero {
     height: 50vh;
    }
}
/* End of Media Query */

/* Start of Hero Image */
.hero {
    background-image: url('heroimage.jpg');
    background-size: cover;
    background-position: center;
    height: 120vh;
    color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    /* position: relative; */
    bottom: 280px;
    width: 100%;
    padding: 40px;
}
/* End of Hero Image */

/* Start of nav */
nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav li {
    font-family: "Covered By Your Grace", cursive;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.logo {
    margin-top: 5px;
    margin-bottom: 0pxs;
    padding: 0;
}

/* .casts {
    margin-left: 870px;
    margin-right: 100px;
}

.videos {
    margin-left: 100px;
    margin-right: 100px;
}

.awards {
    margin-left: 100px;
    margin-right: 80px;
}  */

#dot1 {
    color: rgb(254, 9, 9);
    font-family: helvetica;
    font-size: large;
}

#dot2 {
    color:  rgb(0, 217, 255);
    font-family: helvetica;
    font-size: large;

}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:link {
    color: #412a07;
}

nav a:hover {
    color: #fece21;
    text-decoration: underline;
}

nav a:visited {
    color: #784c0a;
}

nav a:active {
    color: rgb(177, 13, 13)
}

/* End of Nav Bar */

/* Start of Body */
body {
    background-color: rgb(171, 139, 122);
    margin: 0;
    padding: 0;
}
/*  End of Body*/

/* Start of Table */
.container {
    display: flex;
    justify-content: center;
}

.container {
    margin: 15px;
}

table {
    font-family: helvetica, sans-serif, 'times new roman';
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
    background-color: rgb(255, 255, 255);
}

th {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;

}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
/* End of Table */

.img {
    display: flex;
    justify-content: center;
}

#disclaimer {
    font-family: helvetica, sans-serif, 'times new roman';
    text-align: center;
}

footer {
    font-family: helvetica, sans-serif, 'times new roman';
    font-size: small;
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footerbox {
    padding-top: 0px;
    padding-bottom: 0px;
}