@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Covered+By+Your+Grace&family=Gochi+Hand&family=Nothing+You+Could+Do&display=swap');

/* Start of Grid */
@media only screen and (max-width: 600px) {
    /* CSS rules for screens with a maximum width of 600px */
    }
    
    * {
        box-sizing: border-box;
    }

    nav {
        grid-area: n;
    }
    header {
        grid-area: h;
    }
    main {
        grid-area: m;
    }
     aside {
        grid-area: a;
     }
    footer {
        grid-area: f;
    }

#background {
    display: grid;
    grid-template:
    "n "
    "h "
    "m"        
    "a"
    "f";
}
/* End of Grid */

/* Start of MEdia Query */
@media (min-width: 38em) {
    #background {
       grid-template:
     " n   n "
     " h   h "
     " m   m "
     " a   a "
     " f   f "
     / 50% 50%;
    }
}
 @media (min-width: 65em) {
    nav ul {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       }
    #background {
        grid-template:
       " n   n   n"
       " h   h   h"
       " m   m   m"
       " a   a   a"
       " f   f   f"
       / 150px 1fr 30%;
       }
}
@media (max-width: 768px) {
    .hero {
     height: 50vh;
    }
}

@media (max-width: 768px) {
    .hero-content h1 {
     height: 20vh;
    }
}

/* End of Media Query */

body {
    background-color: rgb(255, 255, 255);
}

/* Start of Hero Image */
.hero {
    background-image: url('f11.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    position: relative;
    bottom: 280px;
    width: 100%;
    padding: 40px;
}

.hero-content h1 {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin: 0;
    color: rgb(37, 112, 2);
    display: flex;
    justify-content: center;
    text-align: flex-start;
}

@media only screen and (max-width: 768px) {
    .hero h1 {
        font-size: 3em; /* Adjust font size for smaller screens */
    }
}
/* End of Hero Image */

h1 {
    font-family: 'Times New Roman';
    color: #000000;
}

/* Start of nav */
nav ul {
    list-style-type: none;
    padding-left: 0;
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav li {
    font-family: 'didot','times new roman';
    font-style: italic;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:link {
    color: #00005d;
}

nav a:hover {
    color: #fece21;
}
/* End of Nav */

h2 {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-align: center;
}

p {
    font-family: helvetica, 'gill sans', 'times new roman';
    text-align: center;
}

#images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    margin: 10px;
}